.backdrop {
    min-height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 1;
}

.modal {
    width: 60%;
    min-height: 250px;
    max-height: 50%;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal p {
    margin: 40px 40px 20px 40px;
    font-size: 22px;
    line-height: 38px;
}
.modal p span{
    color: #0a9d0a;
}
.close{
    position: absolute;
    right:10px;
    top: 10px;
    cursor: pointer;
    font-size: 25px;
}
.loader{
    transform: translateY(5px);
    margin-right: 10px;
}