
.widget_container{
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    border-radius: 3px;
}
.widget{
    width: 100vw;
    transform: translateX(-10px);
}

@media screen and (max-width: 720px) {
    .widget_container {
        margin-top: -16px;
    }

    .widget {
        margin-left: -19px;
        margin-right: -19px;
    }
}